body {
    margin: 0 auto;
    height: 100vh;
    text-align: center;
    background-color: #f5f5f5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 6rem;
    font-weight: 100;
    color: #E8D3D6;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type=text] {
    padding: 10px 20px;
    width: 35%;
    background: #fff;
    padding: 16px 16px 16px 60px;
    -webkit-box-shadow: 4px 4px 18px -5px rgba(28,23,28,0.83);
    -moz-box-shadow: 4px 4px 18px -5px rgba(28,23,28,0.83);
    box-shadow: 4px 4px 18px -5px rgba(28,23,28,0.83);
    border:none;
}
input[type=text]::placeholder{
    font-size: 1.5rem;
    opacity: 0.3;
    font-style: italic;
    margin-top: 1rem;
    line-height: 1.6rem;
}
footer {
    font-size: 12px;
    line-height: 0.6;
    padding-top: 20px;
    color: rgb(131, 131, 127);
    text-decoration: none;
}
footer a {
    text-decoration: none;
    color: rgb(131, 131, 127);  
}
li {
    line-height: 1.5;
    text-decoration: none;
    padding: 10px 20px;
    width: 36%;
    background: #fff;
    padding: 16px 16px 16px 60px;
    -webkit-box-shadow: 4px 4px 18px -5px rgba(28,23,28,0.83);
    -moz-box-shadow: 4px 4px 18px -5px rgba(28,23,28,0.83);
    box-shadow: 4px 4px 18px -5px rgba(28,23,28,0.83);
    border:none;
    margin: 0 auto;
    margin-right: 60vh;
}
ul {
    list-style-type: none; 
}
button {
    text-align: right;
}